:root {
  --dark-color: #333;
  --grey-color: #cfcfcf;
  --light-color: #fff;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  display: block;
}

img {
  width: 100%;
}

/* header */
header {
  background-color: var(--dark-color);
}

h3, h1 {
  padding: 2rem;
  text-align: center;
  color: var(--light-color);
}

/* main */
.bg-container {
  background-color: var(--light-color);
  position: relative;
}

.grid-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 28rem);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.site-card {
  position: relative;
  overflow: hidden;
  justify-self: center;
  align-self: center;
}

.site-card img {
  width: 45rem;
  height: 25rem;
}

.site-card a {
  position: relative;
}

.site-card:hover img {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}

.site-header {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 30%;
  background: rgba(221, 221, 221, 0.5);
  z-index: 1;

  transition: .6s ease-in-out;
  transform: translateY(-300px);
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-card:hover .site-header {
  transform: translateY(0);
  visibility: visible;
}

/* Small screens */
@media (max-width: 1450px) {
  h1, h3 {
      padding: 1rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-rows: 1fr;
  }

  .site-card img {
    width: 100%;
    height: 100%;
  }
}